.filters {
	background-color: white;
	position: relative;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}
.locations {
	display: inline-block;
	height: 100%;
	width: 25%;
}
.amenities {
	display: inline-block;
	height: 100%;
	width: 25%;
}
.filters > .locations {
	border-right: 1px solid #DDDDDD;
}
.locations h3, .amenities h3 {
	font-weight: 600;
}
.locations h4, .amenities h4 {
	font-weight: 400;
	font-size: 14px;
}
.locations h3, .locations h4, .amenities h3, .amenities h4 {
	margin: 0;
	margin-top: 10px;
	margin-left: 40px;
}
.popover h2 {
	font-size: 16px;
}
.locations .popover, .amenities .popover {
	display: none;
	position: absolute;
	background-color: #FAFAFA;
	width: 25%;
	top: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}
.amenities .popover {
	left: 25%;
}
.locations:hover .popover, .amenities:hover .popover {
	display: block;
}
.search_button {
	display: inline-block;
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	position: absolute;
	margin-top: 11px; /* (filter_height - button_height) / 2 */
	left: 80%;
	transform: translateX(-30px);
}
.search_button:hover {
	opacity: 0.9;
}
